@page "/news"

@inject NewsService newsService

<PageTitle>News</PageTitle>

<h1>News</h1>

@if (newsList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        <NavLink class="nav-link" href="@("news/create")">
            Aggiungi news
        </NavLink>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Pos</th>
                <th>Titolo</th>
                <th>Autore</th>
                <th>DataPubblicazione</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var news in newsList)
            {
                <tr>
                    <td>@news.Pos</td>
                    <td>@news.Titolo</td>
                    <td>@news.Autore</td>
                    <td>@news.DataPubblicazione</td>
                    <td>
                        <NavLink class="nav-link" href="@($"news/detail/{news.IdNews}")">
                            Dettaglio
                        </NavLink>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<News>? newsList;

    protected override async Task OnInitializedAsync()
    {
        await GetDataAsync();
    }

    protected async Task GetDataAsync()
    {
        newsList = await newsService.GetDataAsync("1");
    }
}
